#body {
	background-color:#000;
}

#harlo_bkg #vid_splash {
	position:fixed !important;
	top:0;
	left:0;
	width:100%;
	height:auto;
	z-index:0 !important;
}

#harlo_bkg .header #vid_control {
	width:auto;
	cursor:pointer;
	margin:0 5% 0 0;
}

#harlo_bkg .header h1.title {
	margin:0;
}

#harlo_bkg .header {
	position:absolute !important;
	background-color:#000;
	color:#fff;
	width:25%;
	height:auto;
	text-align:left;
	padding:1%;
}

#harlo_bkg .header a {
	text-decoration:none;
	font-weight:normal;
	color:#fff;
}

#harlo_bkg .header a:hover {
	color:#fff;
}

#harlo_bkg .header img.rss {
	width:5%;
	position:relative;
	top:45%;
	left:5%;
}

#harlo_disqus_holder {
	border:1px solid #DDDDDD;
	padding:1em;
	margin-top:4em;
}

.site .meta {
	color:#999;
	font-size:0.9em;
}

.site span.harlo_social_media {
	position:absolute;
	padding:2px 0 0 10px
}

.site div.harlo_social_media {
	position:relative;
	padding:0;
	margin:0;
}

.site .harlo_social_media iframe {
	padding:0;
}

.harlo_tag {
	padding:1px 4px !important;
	border:1px solid #2dd000 !important;
	color:#666 !important;
	background-color:#a0e500 !important;
}

a.harlo_tag {
	font-size:0.75em;
	text-decoration:none;
}

a.hidden_anchor {
	margin:0 !important;
	padding:0 !important;
}

a.hidden_anchor h4 {
	display:inline;
	font-weight:normal;
}

h1, h2, h3 {
	font-family:'Lekton', sans-serif;
	font-weight:normal;
}

h2 {
	font-size:2.5em;
}

h3 {
	font-size:1.8em;
}

ul.posts {
	margin:10px 0 !important;
	padding:0 !important;
}

ul.posts li ul {
	list-style-type: none;
	margin:0;
	padding:0;
}