---
layout: default
title: harloholm.es
---

<div id="home">
	<p>Hi.  I'm Harlo.  I really, really love to code!</p>
	<p>quick disclaimer:</p>
	<ul>
		<li>this blog <b>does not</b> contain professional advice.  some of this might be the worst advice.  i make mistakes here to minimize the mistakes i make "out there".</li>
	</ul>
	
	<ul class="posts">
    {% for post in site.posts %}
		<li>
			<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
			<span class="harlo_inline_tag_group">
			{% for tag in post.tags %}
				<a href="/tags/#{{ tag }}" class="harlo_tag">{{ tag }}</a>
			{% endfor %}
			</span>
		</li>
    {% endfor %}
  </ul>
</div>