---
layout: default
title: Harlo has a blog.
---

<div id="home">
	<p>Hi.  I'm Harlo.  I really, really love to code and Harriet the Spy is my spirit animal.</p>
	<ul class="posts">
    {% for post in site.posts %}
		<li>
			<span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
			<span class="harlo_inline_tag_group">
			{% for tag in post.tags %}
				<a href="/tags/#{{ tag }}" class="harlo_tag">{{ tag }}</a>
			{% endfor %}
			</span>
		</li>
    {% endfor %}
  </ul>
</div>